window {
    background-color: rgba(29, 17, 9, 0.95);
    border-radius: 0px;
    border: 2px solid rgba(182, 109, 14, 0.6);
    color: #df9f67;
}

entry {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 18px;
    color: #f5f5f5;
    background-color: rgba(53, 33, 11, 0.95);
    border: 0;
    border-radius: 0;
    margin: 15px 10px 10px 10px;
    padding: 0 5px;
}

image {
    margin: 0 10px 0 20px;
    min-height: 10px;
    min-width: 10px;
    -gtk-icon-style: symbolic;
}


listview > row {
    background-color: transparent;
    color: #cca562;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 18px;
    padding: 6px 12px 6px 0;
    margin-left: 25px;
}

listview > row image {
    color: #c89a5a;
}

listview > row:selected {
    background-color: #a56d3b;
    color: #f2e9de;
}

listview > row:selected image {
    color: #f2e9de;
}

